{{ 'claims.css' | asset_url | stylesheet_tag }}
<div class="product-single__claims">
  <p><i class="fa-solid fa-rotate-left"></i>60-Day Money Back</p>
  <p><i class="fa-solid fa-flask"></i>Science-Backed Ingredients</p>
  <p><i class="fa-solid fa-0"></i>Zero Sugar</p>
</div>
