{{ 'claims.css' | asset_url | stylesheet_tag }}
<div class="product-single__claims">
  <p><i class="fa-solid fa-truck"></i>30 day supply</p>
  <p><i class="fa-solid fa-truck"></i>60 capsules per bottle</p>
  <p><i class="fa-solid fa-truck"></i>2 capsules daily</p>
</div>
