{{ 'all-in-one.css' | asset_url | stylesheet_tag }}
<div class="supercharge-natural" style="position: relative; background-color: #fffcf3; margin-top: px;margin-bottom: px;padding: 115px 0 65px;">
  <div class="container">
  <div class="supercharge-box"><h3>Your all-in-one mix</h3>
          <p>Promote daily immune health &amp; energy with one convenient, delicious drink. Formulated by nutritionists, in partnership with mother nature.</p><div class="supercharge-outer">
                
	   <div class="row" style="border-left: 1px solid #043500; padding-right: 46px; ">
         			
         			<div class="col-lg-3 col-md-6 col-sm-6 col-12 large-view text-center" style="margin-bottom: 10px;">
                      <div class="flip-card">
                      <div class="flip-card-inner">
                        <a href="#acerola-cherry" class="flip-card-front" data-ingredients-action="">
	                      <div class="supercharge-post">
                            <div class="img_wrapper">
                            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/acerola_339d4699-fb1c-4a94-93ec-b8a5e09ac6d6_250x.png?v=1643843902" alt="" src="//feelgoods.co/cdn/shop/files/acerola_339d4699-fb1c-4a94-93ec-b8a5e09ac6d6_250x.png?v=1643843902">
                            </div><h4>Acerola Cherry</h4><p>500mg Vitamin C</p>
                            <div class="desktop_hide-plus"></div>
                            <div class="desktop_hide-content">
                              <p>Our naturally sourced Vitamin C improves absorption and has vital polyphenols. It also boosts collagen production for healthier hair, skin, and nails.* </p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>  
                    </div>
         			
         			
         			<div class="col-lg-3 col-md-6 col-sm-6 col-12 large-view text-center" style="margin-bottom: 10px;">
                      <div class="flip-card">
                      <div class="flip-card-inner">
                        <a href="#elderberry" class="flip-card-front" data-ingredients-action="">
	                      <div class="supercharge-post">
                              <div class="img_wrapper">
	                    		<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/elderberry.png?v=1643843930" alt="" src="//feelgoods.co/cdn/shop/files/elderberry.png?v=1643843930">
                            </div><h4>Elderberry</h4><p>Fight illness</p>
                            <div class="desktop_hide-plus"></div>
                            <div class="desktop_hide-content">
                              <p>Cold-and-flu-fighting berries and flowers brimming with antioxidants to help boost the immune system.* </p>
                            </div>
                      </div>
                        </a>
                      </div>
                    </div>  
                    </div>
         			
         			
         			
         			<div class="col-lg-3 col-md-6 col-sm-6 col-12 large-view text-center" style="margin-bottom: 10px;">
                      <div class="flip-card">
                      <div class="flip-card-inner">
                        <a href="#astragalus" class="flip-card-front" data-ingredients-action="">
	                      <div class="supercharge-post">
                              <div class="img_wrapper">
	                    		<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/astragalus.png?v=1643843902" alt="" src="//feelgoods.co/cdn/shop/files/astragalus.png?v=1643843902">
                            </div><h4>Astragalus</h4><p>Immune health</p>
                            <div class="desktop_hide-plus"></div>
                            <div class="desktop_hide-content">
                              <p>Like a bouncer for your cells, this ancient root is antioxidant-rich to defend against common illness. It has 126 bioactive compounds to support longevity.* </p>
                            </div>
                      </div>
                        </a>
                      </div>
                    </div>  
                    </div>
         			
         			
         			
         			<div class="col-lg-3 col-md-6 col-sm-6 col-12 large-view text-center" style="margin-bottom: 10px;">
                      <div class="flip-card">
                      <div class="flip-card-inner">
                        <a href="#ashwaganda" class="flip-card-front" data-ingredients-action="">
	                      <div class="supercharge-post">
                              <div class="img_wrapper">
	                    		<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/ashwaganda.png?v=1643843902" alt="" src="//feelgoods.co/cdn/shop/files/ashwaganda.png?v=1643843902">
                            </div><h4>Ashwaganda</h4><p>Adaptogenic power</p>
                            <div class="desktop_hide-plus"></div>
                            <div class="desktop_hide-content">
                              <p>A miracle adaptogen that relieves anxiety, boosts stamina, increases focus, and promotes a healthy libido. It's been used for 1,000's of years! </p>
                            </div>
                      </div>
                        </a>
                      </div>
                    </div>  
                    </div>
         			
         			
         			
         			<div class="col-lg-3 col-md-6 col-sm-6 col-12 large-view text-center" style="margin-bottom: 10px;">
                      <div class="flip-card">
                      <div class="flip-card-inner">
                        <a href="#ginger" class="flip-card-front" data-ingredients-action="">
	                      <div class="supercharge-post">
                              <div class="img_wrapper">
	                    		<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/ginger_00aa86f0-9e75-4e80-8692-40c0ee170660.png?v=1643843901" alt="" src="//feelgoods.co/cdn/shop/files/ginger_00aa86f0-9e75-4e80-8692-40c0ee170660.png?v=1643843901">
                            </div><h4>Ginger</h4><p>Antiviral</p>
                            <div class="desktop_hide-plus"></div>
                            <div class="desktop_hide-content">
                              <p>A natural miracle worker with antimicrobial properties to keep your immune system healthy. Ginger is also used as a digestive aid to help with upset stomach.* </p>
                            </div>
                      </div>
                        </a>
                      </div>
                    </div>  
                    </div>
         			
         			
         			
         			<div class="col-lg-3 col-md-6 col-sm-6 col-12 large-view text-center" style="margin-bottom: 10px;">
                      <div class="flip-card">
                      <div class="flip-card-inner">
                        <a href="#turmeric" class="flip-card-front" data-ingredients-action="">
	                      <div class="supercharge-post">
                            <div class="img_wrapper">
	                    		<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/turmeric_c544afe9-db54-440f-8cbe-55150f83c0e4.png?v=1652480687" alt="" src="//feelgoods.co/cdn/shop/files/turmeric_c544afe9-db54-440f-8cbe-55150f83c0e4.png?v=1652480687">
                            </div><h4>Turmeric</h4><p>Anti-inflammation</p>
                            <div class="desktop_hide-plus"></div>
                            <div class="desktop_hide-content">
                              <p>Our turmeric is sourced at 95% Curcumin, the healing compound that's widely researched to help with inflammation, swelling, and memory.* </p>
                            </div>
                      </div>
                        </a>
                      </div>
                    </div>  
                    </div>
         			
         			<div class="desktop_hide-btn show-btn">
                      <a class="show_ingredients">
                        SHOW MORE 
                        <svg style="margin-left: 3px; margin-top: -4px;" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                       	 <path d="M6.5 12L0.00480941 0.75L12.9952 0.750001L6.5 12Z" fill="#054300"></path>
                        </svg>
                      </a>
         			</div>
         			
         			
         			<div class="col-lg-3 col-md-6 col-sm-6 col-12 large-view text-center mobile_hide-ingredients" style="margin-bottom: 10px;">
                      <div class="flip-card">
                      <div class="flip-card-inner">
                        <a href="#black-pepper" class="flip-card-front" data-ingredients-action="">
	                      <div class="supercharge-post">
                            <div class="img_wrapper">
	                    		<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/Frame_714.jpg?v=1663016044" alt="" src="//feelgoods.co/cdn/shop/files/Frame_714.jpg?v=1663016044">
                            </div><h4>Black Pepper</h4><p>Nutrient absorption</p>
                            <div class="desktop_hide-plus"></div>
                            <div class="desktop_hide-content">
                              <p>Our Black Pepper is sourced at 95% Piperine. This compound increases membrane fluidity in your gut, making it easier to absorb nutrients and the Turmeric in our mix.* </p>
                            </div>
                      </div>
                        </a>
                      </div>
                    </div>  
                    </div>
         			         
         			
         			
         			<div class="col-lg-3 col-md-6 col-sm-6 col-12 large-view text-center mobile_hide-ingredients" style="margin-bottom: 10px;">
                      <div class="flip-card">
                      <div class="flip-card-inner">
                        <a href="#goji-berry" class="flip-card-front active" data-ingredients-action="">
	                      <div class="supercharge-post">
                            <div class="img_wrapper">
	                    		<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/goji.png?v=1643843902" alt="" src="//feelgoods.co/cdn/shop/files/goji.png?v=1643843902">
                            </div><h4>Goji Berry</h4><p>Antioxidant boost</p>
                            <div class="desktop_hide-plus minus"></div>
                            <div class="desktop_hide-content show-content">
                              <p>Goji's are packed with antioxidants, Vitamin A, and Vitamin C. They help boost immunity, support eye health, and have anti-aging effects.* </p>
                            </div>
                      </div>
                        </a>
                      </div>
                    </div>  
                    </div>
         			
         			
         			
         			<div class="col-lg-3 col-md-6 col-sm-6 col-12 large-view text-center mobile_hide-ingredients" style="margin-bottom: 10px;">
                      <div class="flip-card">
                      <div class="flip-card-inner">
                        <a href="#cayenne" class="flip-card-front" data-ingredients-action="">
	                      <div class="supercharge-post">
                            <div class="img_wrapper">
	                    		<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/cayenne.png?v=1643843902" alt="" src="//feelgoods.co/cdn/shop/files/cayenne.png?v=1643843902">
                            </div><h4>Cayenne</h4><p>Pain relief</p>
                            <div class="desktop_hide-plus"></div>
                            <div class="desktop_hide-content">
                              <p>Capsaicin, a rich ingredient in Cayenne, has shown to help with pain, inflammation, and more.* </p>
                            </div>
                      </div>
                        </a>
                      </div>
                    </div>  
                    </div>
         			
         			
         			
         			<div class="col-lg-3 col-md-6 col-sm-6 col-12 large-view text-center mobile_hide-ingredients" style="margin-bottom: 10px;">
                      <div class="flip-card">
                      <div class="flip-card-inner">
                        <a href="#zinc" class="flip-card-front" data-ingredients-action="">
	                      <div class="supercharge-post">
                            <div class="img_wrapper">
	                    		<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/Zinc_473b758e-a99d-4828-bc5c-d95ea5e2b06d.png?v=1663096188" alt="" src="//feelgoods.co/cdn/shop/files/Zinc_473b758e-a99d-4828-bc5c-d95ea5e2b06d.png?v=1663096188">
                            </div><h4>Zinc</h4><p>Immune function</p>
                            <div class="desktop_hide-plus"></div>
                            <div class="desktop_hide-content">
                              <p>An important mineral that we can't generate ourselves, yet is responsible for the activity of more than 300 enzymes in our body.* </p>
                            </div>
                      </div>
                        </a>
                      </div>
                    </div>  
                    </div>
         			
         			
         			
         			<div class="col-lg-3 col-md-6 col-sm-6 col-12 large-view text-center mobile_hide-ingredients" style="margin-bottom: 10px;">
                      <div class="flip-card">
                      <div class="flip-card-inner">
                        <a href="#vitamin-b6-b12" class="flip-card-front" data-ingredients-action="">
	                      <div class="supercharge-post">
                             <div class="img_wrapper">
	                    		<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/Vitamin_B6_B12.png?v=1663096208" alt="" src="//feelgoods.co/cdn/shop/files/Vitamin_B6_B12.png?v=1663096208">
                            </div><h4>Vitamin B6 &amp; B12</h4><p>Lasting energy</p>
                            <div class="desktop_hide-plus"></div>
                            <div class="desktop_hide-content">
                              <p>They help breakdown nutrients, which in turn provides the body with energy. They're vital in maintaining a healthy nervous system and for red blood cell production.* </p>
                            </div>
                      </div>
                        </a>
                      </div>
                    </div>  
                    </div>
         			
         			
         			
         			<div class="col-lg-3 col-md-6 col-sm-6 col-12 large-view text-center  mobile_hide-ingredients">
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <a href="#vitamin-a-d-e" class="flip-card-front" data-ingredients-action="">
                            <div class="supercharge-post">
                              <div class="img_wrapper">
                          		<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/Vitamin_A_D_E.png?v=1663096276" alt="" src="//feelgoods.co/cdn/shop/files/Vitamin_A_D_E.png?v=1663096276">
                              </div><h4>Vitamin A, D, E</h4><p>Daily wellbeing</p>
                              <div class="desktop_hide-plus"></div>
                              <div class="desktop_hide-content">
                                <p>These vitamins provide antioxidant protection, break down proteins and amino acids, and more. They are critical to a healthy immune system.* </p>
                              </div>
                        </div>
                          </a>
                        </div>
                      </div> 
                    </div>
         			
         
         			<div class="desktop_hide-btn2">
                      <a class="hide_ingredients">
                        SHOW LESS 
                        <svg style="margin-left: 3px; margin-top: -4px; transform: rotate(180deg)" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                       	 <path d="M6.5 12L0.00480941 0.75L12.9952 0.750001L6.5 12Z" fill="#054300"></path>
                        </svg>
                      </a>
         			</div>
         </div>
      	<div class="main-supercharge_col">
          <div class="" id="acerola-cherry" data-ingredients-target="">
            <div class="main-supercharge_img">
            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/acerola_339d4699-fb1c-4a94-93ec-b8a5e09ac6d6.png?v=1643843902" src="//feelgoods.co/cdn/shop/files/acerola_339d4699-fb1c-4a94-93ec-b8a5e09ac6d6.png?v=1643843902">
            </div>
            <h5 class="main-supercharge_title">Acerola Cherry</h5>
            <p class="main-supercharge_description">Our naturally sourced Vitamin C improves absorption and has vital polyphenols. It also boosts collagen production for healthier hair, skin, and nails.*</p>
          </div>
          <div id="elderberry" data-ingredients-target="" class="">
            <div class="main-supercharge_img">
            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/elderberry.png?v=1643843930" src="//feelgoods.co/cdn/shop/files/elderberry.png?v=1643843930">
            </div>
            <h5 class="main-supercharge_title">Elderberry</h5>
            <p class="main-supercharge_description">Cold-and-flu-fighting berries and flowers brimming with antioxidants to help boost the immune system.*</p>
          </div>
          <div id="astragalus" data-ingredients-target="" class="">
            <div class="main-supercharge_img">
            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/astragalus.png?v=1643843902" src="//feelgoods.co/cdn/shop/files/astragalus.png?v=1643843902">
            </div>
            <h5 class="main-supercharge_title">Astragalus</h5>
            <p class="main-supercharge_description">Like a bouncer for your cells, this ancient root is antioxidant-rich to defend against common illness. It has 126 bioactive compounds to support longevity.*</p>
          </div>
          <div id="ashwaganda" data-ingredients-target="" class="">
            <div class="main-supercharge_img">
            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/ashwaganda.png?v=1643843902" src="//feelgoods.co/cdn/shop/files/ashwaganda.png?v=1643843902">
            </div>
            <h5 class="main-supercharge_title">Ashwaganda</h5>
            <p class="main-supercharge_description">A miracle adaptogen that relieves anxiety, boosts stamina, increases focus, and promotes a healthy libido. It's been used for 1,000's of years!</p>
          </div>
          <div id="ginger" data-ingredients-target="" class="">
            <div class="main-supercharge_img">
            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/ginger_00aa86f0-9e75-4e80-8692-40c0ee170660.png?v=1643843901" src="//feelgoods.co/cdn/shop/files/ginger_00aa86f0-9e75-4e80-8692-40c0ee170660.png?v=1643843901">
            </div>
            <h5 class="main-supercharge_title">Ginger</h5>
            <p class="main-supercharge_description">A natural miracle worker with antimicrobial properties to keep your immune system healthy. Ginger is also used as a digestive aid to help with upset stomach.*</p>
          </div>
          <div id="turmeric" data-ingredients-target="" class="">
            <div class="main-supercharge_img">
            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/turmeric_c544afe9-db54-440f-8cbe-55150f83c0e4.png?v=1652480687" src="//feelgoods.co/cdn/shop/files/turmeric_c544afe9-db54-440f-8cbe-55150f83c0e4.png?v=1652480687">
            </div>
            <h5 class="main-supercharge_title">Turmeric</h5>
            <p class="main-supercharge_description">Our turmeric is sourced at 95% Curcumin, the healing compound that's widely researched to help with inflammation, swelling, and memory.*</p>
          </div>
          <div id="black-pepper" data-ingredients-target="" class="">
            <div class="main-supercharge_img">
            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/Frame_714.jpg?v=1663016044" src="//feelgoods.co/cdn/shop/files/Frame_714.jpg?v=1663016044">
            </div>
            <h5 class="main-supercharge_title">Black Pepper</h5>
            <p class="main-supercharge_description">Our Black Pepper is sourced at 95% Piperine. This compound increases membrane fluidity in your gut, making it easier to absorb nutrients and the Turmeric in our mix.*</p>
          </div>
          <div id="goji-berry" data-ingredients-target="" class="active_ingredient">
            <div class="main-supercharge_img">
            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/goji.png?v=1643843902" src="//feelgoods.co/cdn/shop/files/goji.png?v=1643843902">
            </div>
            <h5 class="main-supercharge_title">Goji Berry</h5>
            <p class="main-supercharge_description">Goji's are packed with antioxidants, Vitamin A, and Vitamin C. They help boost immunity, support eye health, and have anti-aging effects.*</p>
          </div>
          <div id="cayenne" data-ingredients-target="">
            <div class="main-supercharge_img">
            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/cayenne.png?v=1643843902" src="//feelgoods.co/cdn/shop/files/cayenne.png?v=1643843902">
            </div>
            <h5 class="main-supercharge_title">Cayenne</h5>
            <p class="main-supercharge_description">Capsaicin, a rich ingredient in Cayenne, has shown to help with pain, inflammation, and more.*</p>
          </div>
          <div id="zinc" data-ingredients-target="">
            <div class="main-supercharge_img">
            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/Zinc_473b758e-a99d-4828-bc5c-d95ea5e2b06d.png?v=1663096188" src="//feelgoods.co/cdn/shop/files/Zinc_473b758e-a99d-4828-bc5c-d95ea5e2b06d.png?v=1663096188">
            </div>
            <h5 class="main-supercharge_title">Zinc</h5>
            <p class="main-supercharge_description">An important mineral that we can't generate ourselves, yet is responsible for the activity of more than 300 enzymes in our body.*</p>
          </div>
          <div id="vitamin-b6-b12" data-ingredients-target="">
            <div class="main-supercharge_img">
            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/Vitamin_B6_B12.png?v=1663096208" src="//feelgoods.co/cdn/shop/files/Vitamin_B6_B12.png?v=1663096208">
            </div>
            <h5 class="main-supercharge_title">Vitamin B6 &amp; B12</h5>
            <p class="main-supercharge_description">They help breakdown nutrients, which in turn provides the body with energy. They're vital in maintaining a healthy nervous system and for red blood cell production.*</p>
          </div>
          <div id="vitamin-a-d-e" data-ingredients-target="">
            <div class="main-supercharge_img">
            	<img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/Vitamin_A_D_E.png?v=1663096276" src="//feelgoods.co/cdn/shop/files/Vitamin_A_D_E.png?v=1663096276">
            </div>
            <h5 class="main-supercharge_title">Vitamin A, D, E</h5>
            <p class="main-supercharge_description">These vitamins provide antioxidant protection, break down proteins and amino acids, and more. They are critical to a healthy immune system.*</p>
          </div><div class="button-wrap  active_ingredient" style="margin: auto 0 5px;" id="nutrition_btn">
                    <a class="" style="background-color: #fff; color: #097600;">View Nutrition Facts</a>
                </div></div></div>

  </div>
</div>
   <div class="nutrition_modal">
  	<div class="modal_wrapper">
      <button class="modal_close"> x </button>
      <img class="lazypreload lazyloaded" data-src="//feelgoods.co/cdn/shop/files/updated_IMM___FINAL_SUPP_FACTSprodpage.jpg?v=1682359271" src="//feelgoods.co/cdn/shop/files/updated_IMM___FINAL_SUPP_FACTSprodpage.jpg?v=1682359271">
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "nutrition",
    "settings": [
       {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
    ],
  "presets": [
    {
      "name": "nutrition"
    }
  ]

    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
  var initialIngredientLoad = true; 
  var ingredientActions = document.querySelectorAll('[data-ingredients-action]');
  var ingredientTargets = document.querySelectorAll('[data-ingredients-target]');
  
  var hideIngredients = function () {
    for (var i = 0; i < ingredientTargets.length; i++) {
      var ingredientTarget = ingredientTargets[i];
        if(initialIngredientLoad && i == 0 ){
          initialIngredientLoad = false; 
        } else {
            ingredientTarget.classList.remove('active_ingredient');
        }
      }
    
  };
  
  var showIngredient = function (targetSelector) {
    var target = document.querySelector(targetSelector);
    target.classList.add('active_ingredient');
  };
  
  hideIngredients();
  
  for (var i = 0; i < ingredientActions.length; i++) {
    var ingredientAction = ingredientActions[i];
    ingredientAction.addEventListener('click', function (e) {
      e.preventDefault();
      hideIngredients();
      
     var allActions = document.querySelectorAll('[data-ingredients-action]');
      var plusAction = document.querySelectorAll('[data-ingredients-action] .desktop_hide-plus');
      var contentActions = document.querySelectorAll('[data-ingredients-action] .desktop_hide-content');
      for (var i = 0; i < allActions.length; i++) {
      allActions[i].classList.remove('active');
      plusAction[i].classList.remove('minus');
      contentActions[i].classList.remove('show-content')
      }

      
      showIngredient(e.currentTarget.getAttribute('href'));
      e.currentTarget.classList.add('active');
      $('a.flip-card-front.active .desktop_hide-plus').addClass('minus');
      $('a.flip-card-front.active .desktop_hide-content').addClass('show-content')
      
      lastClick = e.currentTarget;
    });
  }
  
  
      $('.desktop_hide-btn').click(function(){
        $('.desktop_hide-btn').removeClass('show-btn');
        $('.mobile_hide-ingredients').show();
        $('.desktop_hide-btn2').addClass('show-btn'); 
     });
  $('.desktop_hide-btn2').click(function(){
    $('.desktop_hide-btn').addClass('show-btn'); 
    $('.mobile_hide-ingredients').hide(); 
    $('.desktop_hide-btn2').removeClass('show-btn'); 
  });
  	$('.desktop_hide-plus').click(function(){
        $(this).toggleClass('minus');
        $(this).next().toggleClass('show-content');
      });
  $('#nutrition_btn').click(function(){
    $('.nutrition_modal').addClass('show-modal'); 
  }); 
  $('.modal_close').click(function(){
    $('.nutrition_modal').removeClass('show-modal'); 
  }); 

</script>