{{ 'guarantee.css' | asset_url | stylesheet_tag }}
<div class="guarantee-background-left-bottom">
<div class="marg">
  <section class="container risk-free">
    <div class="row">
      <div class="col-1">
        <figure>
          <image src="{{ section.settings.badge | img_url: 'small' }}" alt="Badge" class="img-fluid" loading="lazy" />
        </figure>
      </div>
      <div class="col-2">
        <h1>{{ section.settings.heading }}</h1>
        <p>
          {{ section.settings.text }}
        </p>
      </div>
    </div>
  </section>
</div>
</div>
<style>
 @media screen and (min-width: 769px) {
   .guarantee-background-left-bottom {
    background-image: url(https://cdn.shopify.com/s/files/1/0811/5263/9274/files/Rectangle_54.png?v=1695051796);
    background-repeat: no-repeat;
    background-position: left -73px top -202px;
    background-size: auto;
}
   }
</style>
{% schema %}
{
  "name": "Guarantee",
  "settings": [
    {
      "type": "image_picker",
      "label": "Badge",
      "id": "badge"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "Try it, Risk-FREE"
    },
    {
      "type": "textarea",
      "label": "Text",
      "id": "text",
      "default": "60 Day Money Back Guarantee"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Guarantee",
      "category": "Headline"
    }
  ]
}
{% endschema %}
