<style>
    .css-1i01n5i {
      display: grid;
      grid-row-gap: var(--timeline-space-lg);
      grid-template-columns: [full-start] minmax(clamp(24px, calc(15.26px + 2.33vw), 60px),1fr) [main-start] minmax(0,1800px) [main-end] minmax(clamp(24px, calc(15.26px + 2.33vw), 60px),1fr) [full-end];
      width: 100%;
      -webkit-margin-start: auto;
      margin-inline-start: auto;
      -webkit-margin-end: auto;
      margin-inline-end: auto;
  }
    @media screen and (min-width: 1200px) {
  .css-1thmk3v {
      gap: 24px;
  }
      }
    @media screen and (min-width: 768px) {
  .css-1thmk3v {
      gap: 16px;
  }
      }
    .css-1thmk3v {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      grid-column: main;
      grid-row: 2;
      height: 100%;
  }
    .css-1s5xvr4 {
      -webkit-box-flex: 1;
      flex-grow: 1;
      display: grid;
      grid-template-rows: 1fr 158px;
  }
    .css-ljanx {
      margin-bottom: 24px;
      -webkit-align-self: end;
      -ms-flex-item-align: end;
      align-self: end;
  }
    .css-wwusfj {
      opacity: 0.7;
      transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
      transition-duration: 0.15s;
      display: grid;
      border-radius: 3px;
      overflow: hidden;
  }
    .css-wwusfj >* {
      grid-area: 1/1;
  }
    .css-1ppx8yb {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
      transition-duration: 0.4s;
      transition-delay: 0s;
  }
    @media screen and (min-width: 768px) {
  .css-1qvugwr {
      display: block;
  }
      }
    .css-14makv9 {
      display: block;
  }
    .css-104munl {
      display: none;
  }
    @media screen and (min-width: 1200px) {
  .css-14makv9 {
      display: none;
  }
      .css-fotukv {
      display: none;
  }
      .css-104munl {
      display: inline;
  }
      }
</style>
<div class="css-1i01n5i">
  <div class="css-1wua4zq">
    <div class="css-1j9hls1">
      <div class="css-0">
        <button type="button" class="chakra-button css-1fa0n1o" aria-label="Go to previous slide">
          <svg
            viewBox="0 0 24 24"
            focusable="false"
            class="chakra-icon css-zep2vk"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path d="M3.75 12L20.25 12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path><path d="M13.5 18.75L20.25 12L13.5 5.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
          </svg></button
        ><button type="button" class="chakra-button css-1fa0n1o" aria-label="Go to next slide">
          <svg
            viewBox="0 0 24 24"
            focusable="false"
            class="chakra-icon css-14xv406"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path d="M3.75 12L20.25 12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path><path d="M13.5 18.75L20.25 12L13.5 5.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="css-1thmk3v">
    <div class="css-1s5xvr4" style="width: 13.4621%;">
      <div role="group" class="css-ljanx">
        <div role="button" class="css-0">
          <div class="css-wwusfj">
            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
              ><span
                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"
              ></span
              ><img
                alt="Mitochondrial biogenesis"
                sizes="(min-width: 768px) 25vw, (min-width: 1920px) 430px, 75vw"
                srcset="https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=256&amp;h=256&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 256w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=384&amp;h=384&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 384w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=640&amp;h=640&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 640w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=750&amp;h=750&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 750w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=828&amp;h=828&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 828w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1080&amp;h=1080&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1080w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1200&amp;h=1200&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1200w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1920&amp;h=1920&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1920w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=2048&amp;h=2048&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 2048w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=3840&amp;h=3840&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 3840w"
                src="https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=3840&amp;h=3840&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2"
                decoding="async"
                data-nimg="responsive"
                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
              ><noscript></noscript
            ></span>
          </div>
          <p class="chakra-text css-1qvugwr">
            Day<br class="css-14makv9">
            <span class="css-104munl"> </span>30
          </p>
          <h2 class="chakra-heading css-fotukv">Day 30</h2>
        </div>
      </div>
      <div class="css-0" style="opacity: 0; display: none;">
        <div class="css-0">
          <h2 class="chakra-heading css-fkctnr">New Healthy Mitochondria</h2>
          <p class="chakra-text css-xh8bp2">
            One month in, your cells are transforming. Damaged mitochondria step aside to make way for healthier ones
            (mitochondrial biogenesis) optimizing your cellular health.
          </p>
        </div>
      </div>
    </div>
    <div class="css-1s5xvr4" style="width: 13.4621%;">
      <div role="group" class="css-ljanx">
        <div role="button" class="css-0">
          <div class="css-wwusfj">
            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
              ><span
                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"
              ></span
              ><img
                alt="Mitochondrial biogenesis"
                sizes="(min-width: 768px) 25vw, (min-width: 1920px) 430px, 75vw"
                srcset="https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=256&amp;h=256&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 256w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=384&amp;h=384&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 384w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=640&amp;h=640&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 640w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=750&amp;h=750&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 750w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=828&amp;h=828&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 828w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1080&amp;h=1080&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1080w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1200&amp;h=1200&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1200w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1920&amp;h=1920&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1920w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=2048&amp;h=2048&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 2048w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=3840&amp;h=3840&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 3840w"
                src="https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=3840&amp;h=3840&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2"
                decoding="async"
                data-nimg="responsive"
                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
              ><noscript></noscript
            ></span>
          </div>
          <p class="chakra-text css-1qvugwr">
            Day<br class="css-14makv9">
            <span class="css-104munl"> </span>30
          </p>
          <h2 class="chakra-heading css-fotukv">Day 30</h2>
        </div>
      </div>
      <div class="css-0" style="opacity: 0; display: none;">
        <div class="css-0">
          <h2 class="chakra-heading css-fkctnr">New Healthy Mitochondria</h2>
          <p class="chakra-text css-xh8bp2">
            One month in, your cells are transforming. Damaged mitochondria step aside to make way for healthier ones
            (mitochondrial biogenesis) optimizing your cellular health.
          </p>
        </div>
      </div>
    </div>
    <div class="css-1s5xvr4" style="width: 13.4621%;">
      <div role="group" class="css-ljanx">
        <div role="button" class="css-0">
          <div class="css-wwusfj">
            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
              ><span
                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"
              ></span
              ><img
                alt="Mitochondrial biogenesis"
                sizes="(min-width: 768px) 25vw, (min-width: 1920px) 430px, 75vw"
                srcset="https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=256&amp;h=256&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 256w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=384&amp;h=384&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 384w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=640&amp;h=640&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 640w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=750&amp;h=750&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 750w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=828&amp;h=828&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 828w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1080&amp;h=1080&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1080w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1200&amp;h=1200&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1200w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1920&amp;h=1920&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1920w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=2048&amp;h=2048&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 2048w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=3840&amp;h=3840&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 3840w"
                src="https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=3840&amp;h=3840&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2"
                decoding="async"
                data-nimg="responsive"
                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
              ><noscript></noscript
            ></span>
          </div>
          <p class="chakra-text css-1qvugwr">
            Day<br class="css-14makv9">
            <span class="css-104munl"> </span>30
          </p>
          <h2 class="chakra-heading css-fotukv">Day 30</h2>
        </div>
      </div>
      <div class="css-0" style="opacity: 0; display: none;">
        <div class="css-0">
          <h2 class="chakra-heading css-fkctnr">New Healthy Mitochondria</h2>
          <p class="chakra-text css-xh8bp2">
            One month in, your cells are transforming. Damaged mitochondria step aside to make way for healthier ones
            (mitochondrial biogenesis) optimizing your cellular health.
          </p>
        </div>
      </div>
    </div>
    <div class="css-1s5xvr4" style="width: 13.4621%;">
      <div role="group" class="css-ljanx">
        <div role="button" class="css-0">
          <div class="css-wwusfj">
            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
              ><span
                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"
              ></span
              ><img
                alt="Mitochondrial biogenesis"
                sizes="(min-width: 768px) 25vw, (min-width: 1920px) 430px, 75vw"
                srcset="https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=256&amp;h=256&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 256w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=384&amp;h=384&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 384w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=640&amp;h=640&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 640w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=750&amp;h=750&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 750w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=828&amp;h=828&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 828w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1080&amp;h=1080&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1080w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1200&amp;h=1200&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1200w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1920&amp;h=1920&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1920w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=2048&amp;h=2048&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 2048w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=3840&amp;h=3840&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 3840w"
                src="https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=3840&amp;h=3840&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2"
                decoding="async"
                data-nimg="responsive"
                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
              ><noscript></noscript
            ></span>
          </div>
          <p class="chakra-text css-1qvugwr">
            Day<br class="css-14makv9">
            <span class="css-104munl"> </span>30
          </p>
          <h2 class="chakra-heading css-fotukv">Day 30</h2>
        </div>
      </div>
      <div class="css-0" style="opacity: 0; display: none;">
        <div class="css-0">
          <h2 class="chakra-heading css-fkctnr">New Healthy Mitochondria</h2>
          <p class="chakra-text css-xh8bp2">
            One month in, your cells are transforming. Damaged mitochondria step aside to make way for healthier ones
            (mitochondrial biogenesis) optimizing your cellular health.
          </p>
        </div>
      </div>
    </div>
    <div class="css-1s5xvr4" style="width: 13.4621%;">
      <div role="group" class="css-ljanx">
        <div role="button" class="css-0">
          <div class="css-wwusfj">
            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
              ><span
                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"
              ></span
              ><img
                alt="Mitochondrial biogenesis"
                sizes="(min-width: 768px) 25vw, (min-width: 1920px) 430px, 75vw"
                srcset="https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=256&amp;h=256&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 256w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=384&amp;h=384&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 384w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=640&amp;h=640&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 640w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=750&amp;h=750&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 750w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=828&amp;h=828&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 828w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1080&amp;h=1080&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1080w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1200&amp;h=1200&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1200w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1920&amp;h=1920&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1920w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=2048&amp;h=2048&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 2048w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=3840&amp;h=3840&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 3840w"
                src="https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=3840&amp;h=3840&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2"
                decoding="async"
                data-nimg="responsive"
                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
              ><noscript></noscript
            ></span>
          </div>
          <p class="chakra-text css-1qvugwr">
            Day<br class="css-14makv9">
            <span class="css-104munl"> </span>30
          </p>
          <h2 class="chakra-heading css-fotukv">Day 30</h2>
        </div>
      </div>
      <div class="css-0" style="opacity: 0; display: none;">
        <div class="css-0">
          <h2 class="chakra-heading css-fkctnr">New Healthy Mitochondria</h2>
          <p class="chakra-text css-xh8bp2">
            One month in, your cells are transforming. Damaged mitochondria step aside to make way for healthier ones
            (mitochondrial biogenesis) optimizing your cellular health.
          </p>
        </div>
      </div>
    </div>
    <div class="css-1s5xvr4" style="width: 13.4621%;">
      <div role="group" class="css-ljanx">
        <div role="button" class="css-0">
          <div class="css-wwusfj">
            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
              ><span
                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"
              ></span
              ><img
                alt="Mitochondrial biogenesis"
                sizes="(min-width: 768px) 25vw, (min-width: 1920px) 430px, 75vw"
                srcset="https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=256&amp;h=256&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 256w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=384&amp;h=384&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 384w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=640&amp;h=640&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 640w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=750&amp;h=750&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 750w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=828&amp;h=828&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 828w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1080&amp;h=1080&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1080w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1200&amp;h=1200&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1200w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=1920&amp;h=1920&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 1920w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=2048&amp;h=2048&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 2048w, https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=3840&amp;h=3840&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2 3840w"
                src="https://cdn.sanity.io/images/bxsu76x0/timeline-nutrition/a77e335d1c979ad5cda23a5f4062131c043e19e6-1776x1776.png?w=3840&amp;h=3840&amp;q=80&amp;fit=crop&amp;auto=format&amp;dpr=2"
                decoding="async"
                data-nimg="responsive"
                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
              ><noscript></noscript
            ></span>
          </div>
          <p class="chakra-text css-1qvugwr">
            Day<br class="css-14makv9">
            <span class="css-104munl"> </span>30
          </p>
          <h2 class="chakra-heading css-fotukv">Day 30</h2>
        </div>
      </div>
      <div class="css-0" style="opacity: 0; display: none;">
        <div class="css-0">
          <h2 class="chakra-heading css-fkctnr">New Healthy Mitochondria</h2>
          <p class="chakra-text css-xh8bp2">
            One month in, your cells are transforming. Damaged mitochondria step aside to make way for healthier ones
            (mitochondrial biogenesis) optimizing your cellular health.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div aria-hidden="true" class="css-1uphhyw">
    <div class="css-1cs1yjc"></div>
    <div class="css-1cs1yjc"></div>
    <div class="css-1cs1yjc"></div>
    <div class="css-1cs1yjc"></div>
    <div class="css-1cs1yjc"></div>
  </div>
</div>
{% schema %}
{
  "name": "Image Row",
  "class": "tabs-section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub-heading",
      "label": "Sub Heading"
    },
    {
      "type": "image_picker",
      "id": "icon1",
      "label": "Icon 1"
    },
    {
      "type": "text",
      "id": "label1",
      "label": "Label 1",
      "default": "Plant-Based, Vegan"
    },
    {
      "type": "image_picker",
      "id": "icon2",
      "label": "Icon 2"
    },
    {
      "type": "text",
      "id": "label2",
      "label": "Label 2",
      "default": "Gluten Free"
    },
    {
      "type": "image_picker",
      "id": "icon3",
      "label": "Icon 3"
    },
    {
      "type": "text",
      "id": "label3",
      "label": "Label 3",
      "default": "Dairy Free"
    },
    {
      "type": "image_picker",
      "id": "icon4",
      "label": "Icon 4"
    },
    {
      "type": "text",
      "id": "label4",
      "label": "Label 4",
      "default": "Nut Free"
    },
    {
      "type": "image_picker",
      "id": "icon5",
      "label": "Icon 5"
    },
    {
      "type": "text",
      "id": "label5",
      "label": "Label 5",
      "default": "No Artificial Colors, Flavors"
    },
    {
      "type": "image_picker",
      "id": "icon6",
      "label": "Icon 6"
    },
    {
      "type": "text",
      "id": "label6",
      "label": "Label 6",
      "default": "0 Sugar"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab-title",
          "label": "Title"
        },
        {
          "type": "header",
          "content": "CARD 1"
        },
        {
          "type": "image_picker",
          "id": "card-image1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "card-title1",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "card-desc1",
          "label": "Description"
        },
        {
          "type": "richtext",
          "id": "what-is-it1",
          "label": "What is it?"
        },
        {
          "type": "richtext",
          "id": "what-is-does1",
          "label": "What is does?"
        },
        {
          "type": "header",
          "content": "CARD 2"
        },
        {
          "type": "image_picker",
          "id": "card-image2",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "card-title2",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "card-desc2",
          "label": "Description"
        },
        {
          "type": "richtext",
          "id": "what-is-it2",
          "label": "What is it?"
        },
        {
          "type": "richtext",
          "id": "what-is-does2",
          "label": "What is does?"
        },
        {
          "type": "header",
          "content": "CARD 3"
        },
        {
          "type": "image_picker",
          "id": "card-image3",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "card-title3",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "card-desc3",
          "label": "Description"
        },
        {
          "type": "richtext",
          "id": "what-is-it3",
          "label": "What is it?"
        },
        {
          "type": "richtext",
          "id": "what-is-does3",
          "label": "What is does?"
        },
        {
          "type": "header",
          "content": "CARD 4"
        },
        {
          "type": "image_picker",
          "id": "card-image4",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "card-title4",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "card-desc4",
          "label": "Description"
        },
        {
          "type": "richtext",
          "id": "what-is-it4",
          "label": "What is it?"
        },
        {
          "type": "richtext",
          "id": "what-is-does4",
          "label": "What is does?"
        },
        {
          "type": "header",
          "content": "CARD 5"
        },
        {
          "type": "image_picker",
          "id": "card-image5",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "card-title5",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "card-desc5",
          "label": "Description"
        },
        {
          "type": "richtext",
          "id": "what-is-it5",
          "label": "What is it?"
        },
        {
          "type": "richtext",
          "id": "what-is-does5",
          "label": "What is does?"
        },
        {
          "type": "header",
          "content": "CARD 6"
        },
        {
          "type": "image_picker",
          "id": "card-image6",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "card-title6",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "card-desc6",
          "label": "Description"
        },
        {
          "type": "richtext",
          "id": "what-is-it6",
          "label": "What is it?"
        },
        {
          "type": "richtext",
          "id": "what-is-does6",
          "label": "What is does?"
        },
        {
          "type": "header",
          "content": "CARD 7"
        },
        {
          "type": "image_picker",
          "id": "card-image7",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "card-title7",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "card-desc7",
          "label": "Description"
        },
        {
          "type": "richtext",
          "id": "what-is-it7",
          "label": "What is it?"
        },
        {
          "type": "richtext",
          "id": "what-is-does7",
          "label": "What is does?"
        },
        {
          "type": "header",
          "content": "CARD 8"
        },
        {
          "type": "image_picker",
          "id": "card-image8",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "card-title8",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "card-desc8",
          "label": "Description"
        },
        {
          "type": "richtext",
          "id": "what-is-it8",
          "label": "What is it?"
        },
        {
          "type": "richtext",
          "id": "what-is-does8",
          "label": "What is does?"
        }
      ]
    },
    {
      "type": "side_panel",
      "name": "Information side panel",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "side_panel_1_label",
          "label": "Drawer Lable"
        },
        {
          "type": "page",
          "id": "side_panel_1_page",
          "label": "Page"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Row",
      "category": "Ingredients"
    }
  ]
}
{% endschema %}
