<div class="container">
  <h1 class="main-heading">Your all-in-one mix</h1>
  <div class="para-center">
    <p class="main-para">
      Promote daily immune health & energy with one convenient, delicious drink. Formulated by nutritionists, in
      partnership with mother nature.
    </p>
  </div>
  <div class="row tabs">
    <div class="col-1">
      <div class="flex-tag">
        <a class="pc" href="#">All</a>
        <a class="pc" href="#">Turmeric</a>
        <a href="#" class="color-border pc">Elderberry</a>
        <a class="pc" href="#">Astragalus</a>
      </div>
      <div class="flex-tag">
        <a class="pc" href="#">Acerola Cherry</a>
        <a class="pc" href="#">Ashwaganda</a>
        <a class="pc" href="#">Black Pepper</a>
      </div>
      <a class="mobile" href="#">Stamina & Strength</a>
      <a class="mobile" href="#">Greens & Veggie</a>
      <a class="mobile color-border" href="#">Mushrooms</a>
    </div>
    <div class="col-1 mobile">
      <a href="#" class="mobile">Gut Health</a>
      <a href="#" class="mobile">Brain Boosters</a>
    </div>
  </div>
  <div class="flex-row only-mobile">
    <div class="col-2">
      <div class="box-1 box">
        <div class="item-1 items">
          <div class="shadow-flex">
            <img src="{{ section.settings.icon_left1 | img_url: 'small' }}" alt="Products" class="img-fluid main-img">
            <img src="shadow.png" alt="Shadow" class="img-fluid shadow">
          </div>
          <h4>Elderberry</h4>
        </div>
        <div class="item-2 items">
          <div class="shadow-flex">
            <img src="item-2.png" alt="Products" class="img-fluid main-img">
            <img src="shadow.png" alt="Shadow" class="img-fluid shadow">
          </div>
          <h4>Astragalus</h4>
        </div>
        <div class="item-3 items color-border">
          <div class="shadow-flex">
            <img src="item-3.png" alt="Products" class="img-fluid main-img">
            <img src="shadow.png" alt="Shadow" class="img-fluid shadow">
          </div>
          <h4>Acerola Cherry</h4>
        </div>
        <div class="item-4 items only-tab">
          <div class="shadow-flex">
            <img src="item-4.png" alt="Products" class="img-fluid main-img">
            <img src="shadow.png" alt="Shadow" class="img-fluid shadow">
          </div>
          <h4>Ashwaganda</h4>
        </div>
      </div>
      <div class="box-1 box">
        <div class="item-1 items">
          <div class="shadow-flex">
            <img src="item-5.png" alt="Products" class="img-fluid main-img">
            <img src="shadow.png" alt="Shadow" class="img-fluid shadow">
          </div>
          <h4>Ginger</h4>
        </div>
        <div class="item-2 items">
          <div class="shadow-flex">
            <img src="item-6.png" alt="Products" class="img-fluid main-img">
            <img src="shadow.png" alt="Shadow" class="img-fluid shadow">
          </div>
          <h4>Turmeric</h4>
        </div>
        <div class="item-3 items">
          <div class="shadow-flex">
            <img src="item-7.png" alt="Products" class="img-fluid main-img">
            <img src="shadow.png" alt="Shadow" class="img-fluid shadow">
          </div>
          <h4>Black Pepper</h4>
        </div>
        <div class="item-4 items only-tab">
          <div class="shadow-flex">
            <img src="item-8.png" alt="Products" class="img-fluid main-img">
            <img src="shadow.png" alt="Shadow" class="img-fluid shadow">
          </div>
          <h4>Goji Berry</h4>
        </div>
      </div>
    </div>
    <div class="col-1">
      <div class="first-product">
        <div class="shadow-flex">
          <img src="item-3.png" alt="Products" class="img-fluid main-img">
          <img src="shadow.png" alt="Shadow" class="img-fluid shadow">
        </div>
        <h1>Acerola Cherry</h1>
        <p>
          Our naturally sourced Vitamin C improves absorption and has vital polyphenols. It also boosts collagen
          production for healthier hair, skin, and nails.
        </p>
      </div>
    </div>
  </div>
  <div class="para-btn only-mobile">
    <div class="col-2">
      <div class="box">
        <h1>What it is?</h1>
        <p>A mushroom that grows at high altitudes and is popular in Traditional Chinese Medicine.</p>
      </div>
      <div class="box">
        <h1>What it does?</h1>
        <p>Research indicates that cordyceps helps support energy utilization during exercise.</p>
      </div>
    </div>
    <div class="col-1">
      <div class="btn">
        <a href="#">VIEW NUTRITION FACTS</a>
      </div>
    </div>
  </div>
  <div class="only-desktop only-laptop only-tab">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="logo">
            <img src="item-1.png" alt="Products" class="img-fluid">
          </div>
          <div class="content">
            <h1>Turmeric</h1>
            <p>Cold-and-flu-fighting berries and flowers brimming with antioxidants to help boost the immune system.</p>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i> Learn More</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="logo">
            <img src="item-3.png" alt="Products" class="img-fluid">
          </div>
          <div class="content">
            <h1>Acerola Cherry</h1>
            <p>Cold-and-flu-fighting berries and flowers brimming with antioxidants to help boost the immune system.</p>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i> Learn More</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="logo">
            <img src="item-7.png" alt="Products" class="img-fluid">
          </div>
          <div class="content">
            <h1>Black Pepper</h1>
            <p>Cold-and-flu-fighting berries and flowers brimming with antioxidants to help boost the immune system.</p>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i> Learn More</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="logo">
            <img src="item-2.png" alt="Products" class="img-fluid">
          </div>
          <div class="content">
            <h1>Astragalus</h1>
            <p>Cold-and-flu-fighting berries and flowers brimming with antioxidants to help boost the immune system.</p>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i> Learn More</a>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="only-desktop only-laptop only-tab">
    <div class="content-box">
      <div class="box-1 box">
        <h1>What it is?</h1>
        <p>A mushroom that grows at high altitudes and is popular in Traditional Chinese Medicine.</p>
      </div>
      <div class="box-2 box">
        <h1>What it does?</h1>
        <p>Research indicates that cordyceps helps support energy utilization during exercise.</p>
      </div>
    </div>
  </div>
  <div class="product-flex">
    <div class="box">
      <img src="p-1.png" alt="Product" class="img-fluid">
      <h2>Plant-Based, Vegan</h2>
    </div>
    <div class="box">
      <img src="p-2.png" alt="Product" class="img-fluid">
      <h2>Gluten Free</h2>
    </div>

    <div class="box">
      <img src="p-3.png" alt="Product" class="img-fluid">
      <h2>Dairy Free</h2>
    </div>
    <div class="box">
      <img src="p-4.png" alt="Product" class="img-fluid">
      <h2>Nut Free</h2>
    </div>

    <div class="box">
      <img src="p-5.png" alt="Product" class="img-fluid">
      <h2>No Artificial Colors, Flavors</h2>
    </div>
    <div class="box">
      <img src="p-6.png" alt="Product" class="img-fluid">
      <h2>0 Sugar</h2>
    </div>
  </div>
</div>
<img src="shadow-1.png" alt="Shadow" class="img-fluid shadow-1 pc">

<img src="shadow-2.png" alt="Shadow" class="img-fluid shadow-2 pc">

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Swiper JS -->
<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.mySwiper', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    // Default parameters
    loop: true,
    slidesPerView: 1,
    spaceBetween: 10,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    // Responsive breakpoints
    breakpoints: {
      // when window width is >= 320px
      320: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      // when window width is >= 480px
      480: {
        slidesPerView: 1,
        spaceBetween: 30,
      },
      // when window width is >= 640px
      640: {
        slidesPerView: 3,
        spaceBetween: 40,
      },
    },
  });
</script>

{% schema %}
{
  "name": "Ingredients",
  "settings": [
    {
      "type": "image_picker",
      "label": "Shadow Image",
      "id": "shadow_image"
    },
    {
      "type": "image_picker",
      "label": "Elderberry Image",
      "id": "elderberry_image"
    },
    {
      "type": "image_picker",
      "label": "Astragalus Image",
      "id": "astragalus_image"
    },
    {
      "type": "image_picker",
      "label": "Acerola Cherry Image",
      "id": "acerola_cherry_image"
    },
    {
      "type": "image_picker",
      "label": "Ashwaganda Image",
      "id": "ashwaganda_image"
    },
    {
      "type": "image_picker",
      "label": "Ginger Image",
      "id": "ginger_image"
    },
    {
      "type": "image_picker",
      "label": "Turmeric Image",
      "id": "turmeric_image"
    },
    {
      "type": "image_picker",
      "label": "Black Pepper Image",
      "id": "black_pepper_image"
    },
    {
      "type": "image_picker",
      "label": "Goji Berry Image",
      "id": "goji_berry_image"
    }
  ],
  "presets": [
    {
      "name": "Ingredients",
      "category": "Ingredients"
    }
  ]
}
{% endschema %}
