{{ 'marquee.css' | asset_url | stylesheet_tag }}

<section class="head-line">
  <div class="marquee">
    {% for block in section.blocks %}
      <div class="marquee-content">
        <p class="marquee-logo"><i class="{{ block.settings.icon }}"></i> {{ block.settings.text }}</p>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Marquee",
  "settings": [],
  "blocks": [
    {
      "type": "marquee-item",
      "name": "Marquee Item",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "icon",
          "label": "Icons",
          "default": "fa-solid fa-truck"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "FREE SHIPPING UK MAINLAND"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee",
      "category": "Headline"
    }
  ]
}
{% endschema %}
