.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}


.supercharge-box .supercharge-post {
    float: left;
    width: 100%;
    text-align: center;
}
.img_wrapper {
    background: #fff;
    border: 1px solid #043500;
    border-radius: 16px;
    display: flex;
    margin: auto;
    height: 135px;
    width: 135px;
}
.img_wrapper img {
    height: auto;
    margin: auto;
    width: 75%;
}
.supercharge-box .supercharge-post h4 {
    float: left;
    width: 100%;
    margin: 8px auto 0;
    font-size: 16px;
    color: #097600;
    text-transform: capitalize;
}
.supercharge-box .supercharge-post p {
    color: #043500;
    width: 100%;
    font-size: 14px;
    max-width: 100%;
    display: inline-block;
    margin: 0;
    line-height: 14px;
}
.desktop_hide-btn, .desktop_hide-btn2, .desktop_hide-plus, .desktop_hide-content, .nutrition_modal {
    display: none;
}
.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
.desktop_hide-btn, .desktop_hide-btn2, .desktop_hide-plus, .desktop_hide-content, .nutrition_modal {
    display: none;
}
.main-supercharge_col {
    border-left: 1px solid #043500;
    display: flex;
    flex-direction: column;
    padding-left: 46px;
    width: 100%;
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 200px;
    perspective: 1000px;
}
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.main-supercharge_col div {
    display: none;
}
.main-supercharge_img {
    border: 1px solid #043500;
    border-radius: 16px !Important;
    background: #fff;
    display: flex !important;
    height: 395px;
    width: 100%;
}
.main-supercharge_img img {
    height: auto;
    margin: auto;
    max-height: 315px;
    max-width: 315px;
    width: 80%;
}
.main-supercharge_title {
    color: #097600;
    font-size: 38px;
    line-height: 53px;
    margin: 24px auto 8px 0;
}
.main-supercharge_description {
    color: #043500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 20px;
    text-align: left;
}
.supercharge-box .button-wrap a {
    text-decoration: none;
}
.nutrition_modal {
    align-items: center;
    background: rgba(0, 0, 0, .5);
    float: left;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
}
.modal_wrapper {
    background: transparent;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 65vh;
    max-width: 65vw;
    padding: 20px;
    position: relative;
    width: auto;
}
.modal_close {
    background: #fff;
    border: 1px solid #043500;
    border-radius: 50%;
    color: #043500;
    font-family: 'factor_abold';
    font-size: 24px;
    margin: 0 -40px 10px auto;
    z-index: 100;
}
.nutrition_modal .modal_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 80vh;
}
.nutrition_modal .modal_wrapper {
    background: transparent;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 95vh;
    max-width: 65vw;
    padding: 0;
    position: relative;
    width: auto;
}
.desktop_hide-btn, .desktop_hide-btn2, .desktop_hide-plus, .desktop_hide-content, .nutrition_modal {
    display: none;
}

  .desktop_hide-btn, .desktop_hide-btn2, .desktop_hide-plus, .desktop_hide-content, .nutrition_modal { display: none; }
  .nutrition_modal {
    align-items: center; 
    background: rgba(0, 0, 0, .5); 
    float: left; 
    height: 100vh; 
    justify-content: center; 
    position: fixed; 
    top: 0; 
    width: 100vw; 
    z-index: 99; 
  }
  .show-modal { display: flex !important; }
  .modal_wrapper {
    background: transparent; 
    border-radius: 16px; 
    display: flex; 
    flex-direction: column; 
    height: auto; 
    max-height: 65vh; 
    max-width: 65vw; 
    padding: 20px; 
    position: relative; 
    width: auto; 
  }
  .modal_close {
    background: #fff; 
    border: 1px solid #043500;
    border-radius: 50%; 
    color: #043500; 
    font-family: 'factor_abold';
	font-size: 24px; 
    margin: 0 -40px 10px auto; 
    z-index: 100; 
  }
  .modal_close:hover {
    color: #043500;
  }
  .modal_img {
    height: 80%; 
    max-height: 65vh; 
    width: auto; 
  }
    
  .supercharge-outer { 
    display: grid; 
    grid-template-columns: 66% 33%; 
  }
  
  .main-supercharge_col {
    border-left: 1px solid #043500;
    display: flex; 
    flex-direction: column; 
    padding-left: 46px; 
    width: 100%; 
  }
  
  .main-supercharge_col div { display: none; }
  
  .active_ingredient { display: unset !important; }
  
  .main-supercharge_img {
    border: 1px solid #043500; 
    border-radius: 16px !Important; 
    background: #fff; 
    display: flex !important;
    height: 395px; 
    width: 100%; 
  }
  .main-supercharge_img img {
    height: auto; 
    margin: auto; 
    max-height: 315px; 
    max-width: 315px; 
    width: 80%; 
  }
  
  .main-supercharge_title {
    color: #097600; 
    font-size: 38px; 
    line-height: 53px; 
    margin: 24px auto 8px 0; 
  }
  
  .main-supercharge_description {
    color: #043500; 
    font-size: 16px; 
    line-height: 19px; 
    margin: 0 0 20px; 
    text-align: left; 
  }
  .img_wrapper {
	background: #fff;    
    border: 1px solid #043500;
    border-radius: 16px;
    display: flex; 
    margin: auto; 
    height: 135px; 
    width: 135px; 
  }
  .img_wrapper img {
    height: auto; 
    margin: auto; 
    width: 75%;
  }
  @media (min-width: 768px) { 
     .supercharge-box .res-view { display: none; }
  }
  @media (max-width: 767px) { 
    .desktop_hide-btn, .desktop_hide-btn2 { margin: 25px auto 0; }
    .show-content {
      display: block; 
      font-size: 14px; 
      grid-row: 3; 
      grid-column: 1 / span 4; 
      padding: 16px; 
    }
    .show-btn { display: unset; }
    .show_ingredients, .hide_ingredients {
        font-family: 'factor_abold';
    }
    .mobile_hide-ingredients { display: none; width: 100%; }
    .supercharge-natural { padding: 0 !important; }
    .supercharge-outer { grid-template-columns: 1fr; }
    .supercharge-outer .row { 
      border: none !important; 
      padding: 0 !important; 
    }
    .main-supercharge_col {display: none; }
    .flip-card {
      background: #fff; 
      border: 1px solid #8F8F8F; 
      border-radius: 16px; 
      height: 100%; 
      margin-bottom: 10px; 
    }
    .supercharge-post {
      display: grid; 
      grid-template-columns: repeat(4, 1fr); 
      position: relative; 
    }
    .desktop_hide-plus {
      display: unset; 
      background-image: url('//feelgoods.co/cdn/shop/t/116/assets/Plus_sign.png?v=5899468157008012141689972434');
      background-repeat: no-repeat;
      background-position: center right 15px;
      background-size: 15px;
      height: 75px; 
      position: absolute; 
      top: 0; 
  	  width: 100%; 
        z-index: 2; 
    }
    .minus {
     background-image: url('//feelgoods.co/cdn/shop/t/116/assets/Minus_sign.png?v=55422178583016034781689972404');
    }
    .img_wrapper {
      border: none; 
      grid-column: 1; 
      grid-row: 1 / span 2; 
      height: 60px; 
      width: auto; 
      margin: auto; 
    }
    .img_wrapper img { height: 100%; width: auto; }
    .supercharge-post h4 {
      font-size: 16px !important; 
      color: #043500 !Important; 
      grid-column: 2 / span 2; 
      grid-row: 1; 
      height: 22px; 
      margin: 10px 0 0 !Important; 
      text-align: left; 
    }
    .supercharge-post p {
      font-size: 14px; 
      grid-column: 2 / span 2; 
      grid-row: 2; 
      line-height: 16px; 
      text-align: left; 
    }
    .res-view .supercharge-post {
        display: flex;
        align-content: center;
        margin-bottom: 0; 
        position: relative; 
        z-index: 999;
        margin-bottom: -10px;
    }
    .res-view .supercharge-post h4{ margin-top: 15px; margin-bottom: 0 }
    .res-view .supercard-title { text-align: left; margin-left: 20px; }
    .res-view .supercard-content { background: #fff; float: left; color: #054300; width: 100%; font-size: 15px; max-width: 100%; line-height: 23px; padding: 25px 25px 10px 25px; border: 2px solid; z-index: 000; position: relative; border-radius: 0 0 12px 12px; display: none; margin-bottom: -10px; }
    .res-view .supercharge-post.active { margin-bottom: -8px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
    .supercharge-box .supercharge-post p { font-size: 14px;  line-height: 16px; }
    .supercharge-post .text-center { margin-left: auto; }
    .res-view.text-center { margin-bottom: 25px; }
  }
 
