* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.right {
  float: right;
}

/* If You Don't Want Max Width On Your Website SO, Remove This Container Code (FULL CODE) */
.container {
  max-width: 1200px;
  margin: auto !important;
  padding: 50px 0px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* This Code is Custom Code use in every Section Folders | CODE ENDS HERE | */

/*  READ EVERY COMMENT CAREFULLY PLEASE  */
.container .number-flex {
  width: 100%;
  display: flex;
  /* align-items: center; */
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding: 50px 10px;
}

.container .number-flex .col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container .number-flex .col-1 h1 {
  width: 396px;
  font-family: "Nexa-Bold";
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  margin-bottom: 20px;
}

.container .number-flex .btn a {
  padding: 15px 40px;
  background-color: #e27624;
  display: block;
  width: 396px;
  border-radius: 30px;
  text-align: center;
  font-family: "Nexa-Bold";
  color: white;
  border: 1px solid transparent;
  transition: 0.5s;
}

.container .number-flex .btn a:hover {
  background-color: transparent;
  color: #e27624;
  border: 1px solid #e27624;
}

.container .number-flex .col-2 {
  flex: 2 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container .number-flex .col-2 .box {
  text-align: center;
  flex: 1;
  margin-bottom: 30px;
}

.container .number-flex .col-2 .box .number-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.container .number-flex .col-2 .box .number-arrow img.arrow-up {
  transform: rotate(180deg);
}

.container .number-flex .col-2 .box .number-arrow h1 {
  font-size: 46px;
  line-height: 55.2px;
  font-weight: 900;
}

.container .number-flex .col-2 .box .number-arrow h1:after {
  content: "%";
  font-size: 20px !important;
  font-family: "Nexa-Bold";
  line-height: 24px;
}

.container .number-flex .col-2 .box p {
  font-family: "Nexa-Regular";
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 660px) {
  .only-mobile {
    display: none !important;
  }
  .pc {
    display: none !important;
  }
  .container .number-flex {
    padding: 10px;
    flex-direction: column;
  }

  .container .number-flex .col-2 {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .container .number-flex .col-1 h1 {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: auto;
  }

  .container .number-flex .btn a {
    width: 100%;
    display: block;
  }

  .container .number-flex .col-2 .box p {
    width: 224px;
  }
}

@media only screen and (min-width: 661px) and (max-width: 768px) {
  .only-tab {
    display: none !important;
  }

  .pc {
    display: none !important;
  }
  .container .number-flex {
    flex-direction: column;
  }

  .container .number-flex .col-1 h1 {
    margin: auto;
    width: 100% !important;
    text-align: center;
    font-size: 24px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1173px) {
  .only-laptop {
    display: none !important;
  }

  .mobile {
    display: none !important;
  }
}
/* for large screen (desktop) */
@media only screen and (min-width: 1174px) {
  .only-destop {
    display: none !important;
  }

  .mobile {
    display: none !important;
  }
}
