.product-single__claims {
  letter-spacing: 0em;
  line-height: 1;
  text-rendering: optimizeSpeed;
  list-style: none;
  box-sizing: border-box;
  color: #ffffff;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.product-single__claims p {
  text-rendering: optimizeSpeed;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin: 0;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 13px;
  min-width: 30%;
  padding: 0 10px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  line-height: normal;
  border-right: 1px solid #485e75;
}

.product-single__claims p i {
  color: #ffffff;
}
