.custom-table {
  max-width: 73.4rem;
  margin: auto;
  padding: 5rem 1.5rem;
  text-align: center;
}
.custom-table .collapsible-content__heading.inline-richtext {
  text-align: center;
}

.bold_check_icon {
  width: 25px;
  height: auto;
}

.custom-table svg {
  margin: 0 auto;
  vertical-align: middle;
}

.custom-table table th {
  min-width: 140px;
}
.custom-table table tr th:nth-child(2),.custom-table table tr td:nth-child(2) {
  /*background: radial-gradient(
    circle at 0.8% 1.8%,
    rgb(255, 104, 107) 0%,
    rgb(255, 187, 103) 90.1%
  );
  background-image: linear-gradient(rgb(5, 136, 81), rgb(33, 84, 64));*/
  background: radial-gradient(
    circle at 0.8% 1.8%,
    rgb(5, 136, 81) 0%,
    rgb(33, 84, 64) 90.1%
  );
  border:none;
}
.custom-table table tr th:nth-child(2){
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.custom-table table tr:last-child td:nth-child(2) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.custom-table table tr td:nth-child(2) path {
  fill: rgba(0, 0, 0, 0.75);
  stroke: rgba(0, 0, 0, 0.75);
}

.custom-table table tr td:nth-child(1) {
  text-align: left;
}

.custom-table table th {
  vertical-align: initial;
}

.table-container {
  overflow-x: scroll;
}

@media (min-width: 768px) {
  .table-container {
    overflow: hidden;
  }
}
