.right {
  float: right;
}

/* If You Don't Want Max Width On Your Website SO, Remove This Container Code (FULL CODE) */
.container {
  max-width: 1200px;
  margin: auto !important;
  padding: 50px 0px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* This Code is Custom Code use in every Section Folders | CODE ENDS HERE | */

.risk-free {
  padding: 50px 10px;
  background-color: #343436;
  width: 80%;
  margin: auto;
  border-radius: 20px;
}

.risk-free .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 50px;
}

.marg {
  padding: 10px;
}

.risk-free .row .col-1 figure img {
  width: 120px;
  height: auto;
}

.risk-free .row .col-2 h1 {
  font-family: "Nexa-Bold";
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 48px;
}

.risk-free .row .col-2 p {
  width: 464px;
  height: 54px;
  font-family: "Nexa-Regular";
  font-size: 18px;
  line-height: 27px;
}

@media only screen and (max-width: 660px) {
  .risk-free {
    padding: 30px 10px;
    width: 100%;
  }

  .risk-free .row {
    gap: 10px;
    padding: 10px;
  }

  .risk-free .row .col-1 figure img {
    width: 100px;
    height: 80px;
    max-width: 70px;
  }

  .risk-free .row .col-2 h1 {
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 10px;
  }

  .risk-free .row .col-2 p {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }

  .only-mobile {
    display: none !important;
  }

  .pc {
    display: none !important;
  }
}

/* for mini tabs  */

@media only screen and (min-width: 661px) and (max-width: 768px) {
  .risk-free {
    padding: 30px 50px;
    width: 90%;
  }

  .risk-free .row {
    gap: 30px;
    padding: 10px;
  }

  .risk-free .row .col-1 figure img {
    width: 160px;
    height: 80px;
    max-width: 80px;
  }

  .risk-free .row .col-2 h1 {
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 10px;
  }

  .risk-free .row .col-2 p {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
  .only-tab {
    display: none !important;
  }

  .pc {
    display: none !important;
  }
}

/* for laptop and big screen tabs  */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .risk-free {
    padding: 30px 70px;
    width: 80%;
  }

  .risk-free .row {
    gap: 30px;
    padding: 10px;
  }

  .risk-free .row .col-1 figure img {
    width: 150px;
    height: 80px;
    max-width: 80px;
  }

  .risk-free .row .col-2 h1 {
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 10px;
  }

  .risk-free .row .col-2 p {
    width: 100%;
    font-size: 14px;
    line-height: 26px;
  }
  .only-laptop {
    display: none !important;
  }

  .mobile {
    display: none !important;
  }
}

/* for large screen (desktop) */
@media only screen and (min-width: 1025px) {
  .only-destop {
    display: none !important;
  }

  .mobile {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
}
